<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Inventory{% endblock %}</title>
  <!-- Add css file path, using static folder-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <a href="/">Inventory</a>
    <div>
      <a href="/item/new" class="btn">+ New item</a>
      
      <a href="/settings" class="btn btn-hover">
        <i class="fa fa-cog"></i>
        <span class="label">Settings</span>
      </a>
    </div>
    
  </header>
  <main>{% block content %}{% endblock %}</main>
</body>

</html>