{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}

<p class="mb-4"><a href="/">← All items</a></p>

<div class="layout-with-sidebar">
    <nav class = "sidebar" style="width:240px;height:240px;padding:10px;">
        <a href="#general" class="link-btn">General</a>
        <a href="#theme" class="link-btn">Theme</a>
        <a href="#database" class="link-btn">Database</a>
    </nav>
    <div class="flex-1">
        <section id="general">
            <h2>General</h2>
            <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
            <p>Notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
            
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
        </section>
        
        <section id="theme">
            <h2>theme</h2>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
        </section>
        <section id="database">
            <h2>database</h2>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
            <p>Some text..</p>
        </section>
        </div>
</div>


<div>
      

{% endblock %}